@import "../styles/mixins/mixins";
.contacts{
 @include cv-content__block;
  .contacts__header{
    @include cv-content__header;
  }
  .contacts__contact{
    @include cv-content__item;
    .contact__type{
      font-style: italic;
      font-size: smaller;
      color: #5b5b5b;
      font-weight: bold;
      &:after{
        content: ":";
      }
    }
    .contact__value{

    }
  }
}