@import "../styles/mixins/mixins";

.person {
  @include cv-content__block;
  align-items: center;
  color: white;

  .person__name {
  }

  .person__goals {
    @include cv-content__block;
    align-items: center;

    .goals__desired-position {
      margin: .5em;
    }

    .goals__summary {
      @include cv-content__item;
      padding: 1em;
      width: 90%;
      text-align: center;

    }
  }
}