@import "../styles/mixins/mixins";

.sections {
  @include cv-content__block;
  .sections__section {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: black;
    background-color: white;
    .section__title {
      @include cv-content__header;
    }

    .section__section-contents {

      .section-contents__content {
        @include cv-content__item;

        .content__title {
          padding: .5em  0 ;
        }

        .content__period {
          font-style: italic;

        }

        .content__organization {
          color: #3b3b3b;
        }

        .content__description-points {
          @include cv-content__item;
          .description-points__point {
            margin-top: .5em;
          }
        }

        .content__achievements-div {
          @include cv-content__block;
          .achievements-div__achievements {

            .achievements__title {

            }

            .achievements__achievements-points {
              @include cv-content__item;
              .achievements-points__point {

                margin-top: .5em;
              }
            }
          }
        }
      }
    }
  }
}