@import "../styles/mixins/mixins";

.skills {
  @include cv-content__block;

  .skills__header {
    @include cv-content__header;
  }

  .skills__skill-list {
    display: flex;
    flex-direction: column;

    .skill-list__skill {
      @include cv-content__item;
      min-width: 40%;

      .skill__type {
        font-weight: bold;
      }

      .skill__skill-points {
        .skill-points__skill-point {

        }
      }
    }
  }
}

@media (max-width: 890px) {
  .skills {
    .skills__skill-list {
      flex-direction: row;
      flex-wrap: wrap;

      .skill-list__skill {
        min-width: 20%;
      }
    }
  }


}
